
<div class="container">
    <table id="totalassets" class="table table-success">
        <thead>
            <th><h4>Total: Supply Assets</h4></th>
        </thead>
        <tbody>
            <tr>
                <td>Total:</td>
                <td>@Format.AsCurrency(totalAssets)</td>
            </tr>
        </tbody>
    </table>

    <table id="emptyitems" class="table table-striped">
        <thead>
            <th><h4>Items - Low Stock</h4></th>
            <th colspan="3"></th>
            <th>Total</th>
        </thead>
        <tbody>
            @if (LowItems.Any())
            {
                @foreach (var item in LowItems)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>@item.Price</td>
                        <td>@Calc.CalcItemTotal(item.Price, item.Quantity)</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td><strong>No Low Items: Stock is good!</strong></td>
                </tr>
            }

        </tbody>
    </table>
</div>
