<div class="container">
    <table class="table">
        <thead class="table-info">
        <th colspan="2"><h3>Profits</h3></th>
        </thead>
        <tbody>
            <tr class="table-success">
                <td>Income</td>
                <td>@Format.AsCurrency(totalIncome)</td>
            </tr>
            <tr class="table-danger">
                <td>Expenses</td>
                <td>-@Format.AsCurrency(totalExpense)</td>
            </tr>
            <tr class="table-danger">
                <td>Shipping/Fees</td>
                <td>@Format.AsCurrency(totalShipping)</td>
            </tr>
            <tr class="table-warning">
                <td>Total Pending</td>
                <td>@Format.AsCurrency(pendingTotal)</td>
            </tr>
            <tr>
                <td>Profits</td>
                <td>@Format.AsCurrency(totalIncome - totalExpense - totalShipping)</td>
            </tr>
            <tr class="table-info">
                <td><strong>Profits w/ Pending</strong></td>
                <td>@Format.AsCurrency(pendingTotal + (totalIncome - totalExpense - totalShipping))</td>
            </tr>
        </tbody>
    </table>
</div>
