@page "/allitems/new"
@inject ItemService service
@inject NavigationManager navManager

<div class="row m-3">
    <EditForm Model="NewItem" OnValidSubmit="AddItem">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Add</button>
            <button class="btn btn-secondary" type="button" @onclick="ToAll">Cancel</button>
        </div>


        <label for="title">Item</label>
        <InputText id="title" class="form-control" @bind-Value="@NewItem.Title" />

        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="@NewItem.Description" />

        <label for="pallet">Pallet#</label>
        <InputNumber id="pallet" class="form-control" @bind-Value="@NewItem.PalletNumber" />

        <label for="sku">SKU</label>
        <InputText id="sku" class="form-control" @bind-Value="@NewItem.SKU" />

        <label for="category">Category</label>
        <InputSelect id="category" class="form-control" @bind-Value="@NewItem.Category">
            @foreach (var option in Enum.GetValues(typeof(Category)))
            {
                <option>@option</option>
            }
        </InputSelect>

        <label for="condition">Condition</label>
        <InputSelect id="category" class="form-control" @bind-Value="@NewItem.Condition">
            @foreach (var option in Enum.GetValues(typeof(Condition)))
            {
                <option>@option</option>
            }
        </InputSelect>

        <label for="price">Amount</label>
        <InputNumber id="price" class="form-control" @bind-Value="@NewItem.Price" />
    </EditForm>


</div>

@code {
    private Item NewItem { get; set; } = new Item();

    private async Task AddItem()
    {
        await service.AddItemAsync(NewItem);
        navManager.NavigateTo("/allitems/");
    }

    private void ToAll()
    {
        navManager.NavigateTo("/allitems", true);
    }
}
