@page "/allitems/edit/{id:int}"
@inject ItemService service
@inject NavigationManager navManager

<div class="row m-3">
    <EditForm Model="EditItem" OnValidSubmit="AddItem">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Update</button>

            <button class="btn btn-secondary" type="button" @onclick="ToAll">Cancel</button>
        </div>


        <label for="title">Item</label>

        <label for="description">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="@EditItem.Description" />

        <label for="pallet">Pallet#</label>
        <InputNumber id="pallet" class="form-control" @bind-Value="@EditItem.PalletNumber" />

        <label for="sku">SKU</label>
        <InputText id="sku" class="form-control" @bind-Value="@EditItem.SKU" />

        <label for="category">Category</label>
        <InputSelect id="category" class="form-control" @bind-Value="@EditItem.Category">
            @foreach (var option in Enum.GetValues(typeof(Category)))
            {
                <option>@option</option>
            }
        </InputSelect>

        <label for="condition">Condition</label>
        <InputSelect id="category" class="form-control" @bind-Value="@EditItem.Condition">
            @foreach (var option in Enum.GetValues(typeof(Condition)))
            {
                <option>@option</option>
            }
        </InputSelect>

        <label for="price">Amount</label>
        <InputNumber id="price" class="form-control" @bind-Value="@EditItem.Price" />
    </EditForm>
</div>

@code {

    [Parameter]
    public int Id { get; set; }
    private Item EditItem { get; set; } = new Item();

    protected override void OnInitialized()
    {
            EditItem = service.GetItemById(Id);
    }

    private async Task AddItem()
    {
        await service.AddItemAsync(EditItem);
        navManager.NavigateTo("/allitems/");
    }

    private void ToAll()
    {
        navManager.NavigateTo("/allitems", true);
    }
}
