@page "/allsupplyitems"
@inject SupplyItemService service
@inject NavigationManager navManager

<h3>Supplies</h3>

<div class="container">
     <button class="btn btn-primary" @onclick="NavigateToCreate">Add Supply Item</button>
</div>

<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Price per Unit</th>
            </tr>
        </thead>
        <tbody>

            @if (SupplyItems.Any())
            {
                @foreach (var supplyItem in SupplyItems)
                {
            <tr >
                <td>@supplyItem.Title</td>
                <td>@supplyItem.Description</td>
                <td>@supplyItem.Quantity</td>
                <td>@supplyItem.Unit</td>
                <td>@Format.AsCurrency(supplyItem.Price)</td>
                <td>
                    <button class="btn btn-secondary" type="button" @onclick="(() => NavigateToDetail(supplyItem.SupplyID))">Details</button>
                    <button class="btn btn-secondary" type="button" @onclick="(() => NavigateToEdit(supplyItem.SupplyID))">Edit</button>
                    <button class="btn btn-danger" type="button" @onclick="(() => DeleteSupplyItem(supplyItem))">Delete</button>
                </td>
            </tr>
                }
            }
            else
            {
                <tr><td colspan="5"><strong>No supplies available</strong></td></tr>
            }
        </tbody>
    </table>
</div>
